<h1>AjaxApp</h1>
<%= form_with url:  "/posts", method: :post,id: "form" do |form| %>
  <%= form.text_field :content %>
  <%= form.submit '投稿する' , id: "submit" %>
<% end %>

<% @posts.each do |post| %>
<%# 
 この部分を「クリックした時」にイベントを発火させたいので、クリックされる部分の要素を取得するためにchecked.jsへ下記のように記述します。 
>
<%#
  data-idとdata-checkのカスタムデータ属性を追加しました。
  前者はメモのidが入り、後者は既読の有無を管理するcheckedカラムの情報が入ります。
 <div class="post">  変更前
%>
<div class="post" data-id=<%= post.id %> data-check=<%= post.checked %>>
  <div class="post-date">
    投稿日時：<%= post.created_at %>
  </div>
  <div class="post-content">
    <%= post.content %>
  </div>
</div>
<%#  end %>
<% end %>